// Fonts
@font-face {
	font-family: 'Orbitron';
	src: url('../src/fonts/Orbitron/Orbitron-Light.eot?') format("embedded-opentype"), 
		url('../src/fonts/Orbitron/Orbitron-Light.woff') format("woff"),
		url('../src/fonts/Orbitron/Orbitron-Light.woff2') format("woff2");

	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
  
}

@font-face {
	font-family: 'Orbitron';
	src:
		url('../src/fonts/Orbitron/Orbitron-Medium.eot?') format("embedded-opentype"), 
		url('../src/fonts/Orbitron/Orbitron-Medium.woff') format("woff"),
		url('../src/fonts/Orbitron/Orbitron-Medium.woff2') format("woff2");
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
 
}

@font-face {
	font-family: 'Orbitron';
	src: url('../src/fonts/Orbitron/Orbitron-Bold.eot?') format("embedded-opentype"), 
		url('../src/fonts/Orbitron/Orbitron-Bold.woff') format("woff"),
		url('../src/fonts/Orbitron/Orbitron-Bold.woff2') format("woff2");
	font-weight: 600;
	font-style: normal;
	font-stretch: normal;
   
}