// Fonts
$url-font:'../fonts/';

@font-face {
	font-family: 'Orbitron';
	src: url('#{$url-font}Orbitron/Orbitron-Light.eot') format("embedded-opentype"), 
		url('#{$url-font}Orbitron/Orbitron-Light.woff') format("woff"),
		url('#{$url-font}Orbitron/Orbitron-Light.woff2') format("woff2");

	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
}

@font-face {
	font-family: 'Orbitron';
	src:
		url('#{$url-font}Orbitron/Orbitron-Medium.eot') format("embedded-opentype"), 
		url('#{$url-font}Orbitron/Orbitron-Medium.woff') format("woff"),
		url('#{$url-font}Orbitron/Orbitron-Medium.woff2') format("woff2");
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
}

@font-face {
	font-family: 'Orbitron';
	src: url('#{$url-font}Orbitron/Orbitron-Bold.eot') format("embedded-opentype"), 
		url('#{$url-font}Orbitron/Orbitron-Bold.woff') format("woff"),
		url('#{$url-font}Orbitron/Orbitron-Bold.woff2') format("woff2");
	font-weight: 600;
	font-style: normal;
	font-stretch: normal;
}