$font-Manrope: 'Manrope', sans-serif;
$font-MessinaSans: 'MessinaSans', sans-serif;
$font-MessinaSansSerif: 'MessinaSansSerif', sans-serif;
$font-MessinaSansMono: 'MessinaSansMono', sans-serif;
$font-Orbitrone:'Orbitron', sans-serif;
// Colors
$color-black: #1A1A1A;
$color-red: #F2571F;
$color-orange:#FB792B;
$color-lightOrange:#FB9559;
$color-darkOrange:#EC7A36;
$color-white:white;
$color-gray:#fafafa;
$color-lightGray:#FAFAFA;
$color-darkGray:#7B7B7B;

// Media queries
$desktop-extra: 1400px;
$desktop: 992px;
$tablet: 768px;
$mobile: 576px;