.about{
        padding-bottom: 89px;
        padding-top: 61px;
        h2{
            margin-top: 25px;
            margin-bottom: 31px;
            text-align: center;
            
            letter-spacing: 0.06em;
        }
        .about__timeline {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            max-width: 1200px;
            margin-right: auto;
            margin-left: auto;
            padding-top: 65px;
            
            

                    .timeline-items {
                        display: flex;
                        flex-direction: column;
                        text-align: center;
                        max-width: 13%;
                        

                        .timeline-year{
                            font-size: 20px;
                            margin-top: 26px;
                            margin-bottom: 0;
                        }
                        span{
                            margin-top: 13px;
                            margin-bottom: 0px;
                            font-size: 10px;
                            letter-spacing: 0.06em;
                        }
                        .timeline-point{
                            border-radius: 50%;
                            background-color:$color-orange;
                            width: 26px;
                            height: 26px;
                            display:flex;
                            justify-content: center;
                            align-items:center;
                            margin-right:auto;
                            margin-left: auto; 
                            
                            
                            
                        }
                        .point-midle::before,
                        .point-midle::after{
                            content:'';
                            box-sizing:border-box;
                            width:100%;
                            height:5px;
                            background:$color-orange; 
                            border:solid $color-orange;
                            border-width: 0 70px 0;

                        }
                        .point-start::before {
                            content:'';
                            box-sizing:border-box;
                            width:100%;
                            height:5px;
                            background:$color-orange; 
                            border:solid $color-orange;
                            border-width: 0 20px 0;
                        }
                        .point-start::after{
                            content:'';
                            box-sizing:border-box;
                            width:100%;
                            height:5px;
                            background:$color-orange; 
                            border:solid $color-orange;
                            border-width: 0 60px 0;
                        }
                        .point-end::before {
                            content:'';
                            box-sizing:border-box;
                            width:100%;
                            height:5px;
                            background:$color-orange; 
                            border:solid $color-orange;
                            border-width: 0 60px 0;
                        }
                        .point-end::after {
                            content:'';
                            box-sizing:border-box;
                            width:100%;
                            height:5px;
                            background:$color-orange; 
                            border:solid $color-orange;
                            border-width: 0 20px 0;
                        }
                       
                        
                    }

        }
}