.about{
        padding-bottom: 90px;
        font-family: $font-Orbitrone;
        h2{
            font-size: 40px;
            text-transform: uppercase;
            margin-top: 90px;
            margin-bottom: 100px;
            text-align: center;
        }
        .about__timeline {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            max-width: 1200px;
            margin-right: auto;
            margin-left: auto;

                    .timeline-items {
                        display: flex;
                        flex-direction: column;
                        text-align: center;
                        max-width: 12%;

                        .timeline-year{
                            font-size: 20px;
                            margin-top:43px;
                            margin-bottom: 0;
                        }
                        p{
                            margin-top: 19px;
                            margin-bottom: 0px;
                            font-size: 10px;
                        }
                        .timeline-point{
                            border-radius: 50%;
                            background-color:$color-orange;
                            width: 26px;
                            height: 26px;
                            display:flex;
                            justify-content: center;
                            align-items:center;
                            margin-right:auto;
                            margin-left: auto;
                        }
                        .timeline-point::before,
                        .timeline-point::after{
                            content:'';
                            box-sizing:border-box;width:100%;
                            height:5px;
                            background:$color-orange; 
                            border:solid $color-orange;
                            border-width:0 50px 0;
                        }
                    }

        }
}