.full-gallery{
    padding-top: 140px;
    padding-bottom: 90px;
    text-align: center;
    max-width: 1400px;
    width: 100%;
    margin-left:auto ;
    margin-right: auto;


            .gallery-header{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                padding-bottom: 20px;
                max-width: 69%;
                width: 100%;
                margin: 0 auto;
                letter-spacing: 0.06em;
                font-size: 26px;
                
                a {
                    border-bottom:none;
                }
    

            & h2 {
                border-bottom: 3px solid transparent;
                text-transform: capitalize;
                padding-bottom: 8px;
                border-bottom: 9px solid transparent;
            }
            & h2:hover {
                border-bottom: 9px solid $color-orange;
                transition:  all .2s;
            }
            }
            .gallery-wrapper {
                display: flex;
                max-width: 1200px;
                margin-left: 100px;
                margin-right: 100px;
                margin-bottom: 100px;
                flex-direction: column;
                padding-top: 14px;
                display: flex;
                flex-direction: row;
                
               

                            & img{
                                object-fit: cover;
                                padding-bottom: 10px;
                            }
                            .all-gallery-row-1 {
                                display: flex;
                                flex-direction: column;
                                padding-bottom: 5px;
                                padding-top: 5px;
                                width:33.33%;
                               
                            }
                            .all-gallery-row-2 {
                                display: flex;
                                flex-direction: column;
                                padding-right: 20px;
                                padding-left: 20px;
                                padding-top: 5px;
                                padding-bottom: 5px;
                                width:33.33%;
                            }
                            .all-gallery-row-3 {
                                display: flex;
                                flex-direction: column;
                                padding-bottom: 5px;
                                padding-top: 5px;
                                width:33.33%;

                              
                            }
                           
                                    
                                

                            
                }
        }