.gallery{
    padding-top: 75px;
    padding-bottom: 90px;
    font-family: Orbitron;
    text-align: center;
    max-width: 1400px;
    width: 100%;
    margin-left:auto ;
    margin-right: auto;
    


            .gallery-header{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                padding-bottom: 20px;
                max-width: 69%;
                width: 100%;
                margin: 0 auto;
                letter-spacing: 0.06em;
                font-size: 26px;
                
                a {
                    color:black;
                    border-bottom:none;
                }
    

            & h3 {
                border-bottom: 3px solid transparent;
                text-transform: capitalize;
                padding-bottom: 8px;
                font-size: 36px;
            }
            & h3:hover {
                border-bottom: 9px solid $color-orange;
                transition:  all .2s;
            }
            }
            .all-gallery {

                display: flex;
                justify-content: center;
                margin-bottom: 89px;
                padding-top: 51px;
                margin-left: 100px; 
                margin-right: 100px;

                            
                            .gallery-row-1 {
                                display: flex;
                                flex-direction: column;
                                padding-bottom: 5px;
                                padding-top: 5px;
                                img{
                                    padding-top: 5px;
                                    padding-bottom: 5px;
                                }
                            }
                            .gallery-row-2 {
                                display: flex;
                                flex-direction: column;
                                padding-bottom: 5px;
                                padding-left: 20px;
                                padding-right: 20px;
                                padding-top: 5px;
                                img{
                                    padding-top: 5px;
                                    padding-bottom: 5px;
                                }
                            }
                            .gallery-row-3 {
                                display: flex;
                                flex-direction: column;
                                padding-bottom: 5px;
                                padding-top: 5px;

                                img{
                                    padding-top: 5px;
                                    padding-bottom: 5px;
                                }
                            }
                }
            & a{  
              
                font-size: 25px;
                color:$color-orange;
                border-bottom:1px solid $color-orange;
                letter-spacing: 0.06em;
            }
        }