.team {
            display: none;


            @include tablet{
            margin-left: auto;
            margin-right: auto;
            padding-bottom: 101px;
            background-color:$color-lightGray;
            }

            @include desktop-extra{
                display: block;
            }


        .icon{
            width:40px;
            height: 40px;
            margin-right: 22px;
            margin-left: 28px;
            fill:$color-lightOrange;
        }
        
        .team-arrows:hover{
            cursor: pointer;
        }
        & h2{
            padding-top: 85px;
            padding-bottom: 95px;
            text-align: center;
            margin-top: 0;
            margin-bottom: 0;
            letter-spacing: 0.06em;
        }
        .team__wrapper {
            margin-right: auto;
            margin-left:auto;
            display: flex;
            justify-content: center;
            align-items: center;    
            max-width: 1400px;
            width: 100%;

                h3 {
                    font-size: 36px;
                    text-transform: capitalize;
                }

                & img {
                    max-height: 100%;
                    height: 100%;
                    
                }

                
                
                .team-slider{
                    display: flex;
                    margin-right: 38px;
                    margin-left: 38px;
                    background-color:$color-white;
                     .slider-left-items {
                        display: flex;
                        flex-direction: column;
                        text-align: center;
                        margin-right: 51px;
                        & img {
                        background-color:$color-orange;
                        width: 441px;
                        height: 387px;
                        }
                        h3{
                            margin-top: 36px;
                            margin-bottom: 36px;
                            letter-spacing: 0.06em;
                            margin-left: 4px;
                        }
                        }
                     .slider-right-items {
                        display: flex;
                        flex-direction: column;
                        margin-right:66px;
                        margin-left: 8px;

                            & h3{
                                margin-top: 30px ;
                                margin-bottom: 42px;
                                margin-left: 1px;
                                letter-spacing: 0.06em;
                                
                            }
                        .specialists{
                            display: flex;
                            flex-direction: row;
                            justify-content: space-between;
                                    .specialist-info{
                                        display: flex;
                                        flex-direction: column;
                                        max-width: 153px;
                                        text-align: center;
                                        margin-bottom: 45px;
                                                .specialist-number {
                                                    font-size: 45px;
                                                    line-height: 51px;
                                                
                                                }
                                                
                                                span,
                                                .specialist-number {
                                                    margin-top: 0px;
                                                    margin-bottom: 0px;
                                                
                                                }
                                                span {
                                                    font-size: 20px;
                                                    letter-spacing: 0.08em;
                                                    margin-top: 8px;
                                                }
                                        }
                            }
                        .slider-social{
                            display: flex;
                            justify-content: center;
                            margin-top: 34px;


                                a{
                                    line-height: 40px;
                                    display: flex;
                                    align-items:center;
                                }
                                img{
                                    margin-left:25px;
                                    margin-right: 25px;
                                    object-fit: cover;
                                }
                        }

                        
                        
                    }

                    .slider-info{
                        max-width: 485px;
                        text-align: left;
                        font-size: 20px;
                        margin-top: -3px;
                        letter-spacing: 0.06em;
                    }
                }
}
}