.technologies{
    text-align: center;
    padding-top:57px;
    background-color:$color-light-gray;
    
     h2{
         letter-spacing: 0.06em;
     }
     & a{
         color:$color-black;
     }
     marquee{
        padding-top: 70px;


     .runing-row{
        display: flex;
        flex-direction: row;
        align-items:center;
        justify-content: space-evenly;
        
        &:hover .technologies-item{
                    animation-play-state:paused;
                }

         .technologies-item{
            max-width: 182px;
       
            

            
                & img {
                    min-height:182px;
                    object-fit: contain;
                    
                    }
                p{
                    font-size: 25px;
                    text-align: center;
                    margin-top: 12px;
                    
                }
                
         }

        }
    }
}